@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
ul.socialIcons {
    padding: 0;
    text-align: center;
}
.socialIcons li {
    background: yellow;
    list-style: none;
    display: inline-block;
    margin: 15px;
    margin-top: 15%;
    border-radius: 2em;
    overflow:hidden;
}
.socialIcons li a {
    display: block;
    padding: .5em;
    max-width: 2.3em;
    min-width: 2.3em;
    height: 2.3em;
    white-space: nowrap;
    line-height: 1.5em;
    transition:.5s;
    text-decoration: none;
    font-family: arial;
    color: #fff;
}
.socialIcons li i {
    margin-right:.5em;
}
.socialIcons li:hover a {
    max-width:200px;
    padding-right:1em;
}
.socialIcons .facebook {
    background: #3b5998;
    box-shadow: 0 0 16px #3b5998;
}
.socialIcons .twitter {
    background: #00aced;
    box-shadow: 0 0 16px #00aced;
}
.socialIcons .instagram {
    background: #cd486b;
    box-shadow: 0 0 16px #cd486b;
}
.socialIcons .pinterest {
    background: #c92228;
    box-shadow: 0 0 16px #c92228;
}
.socialIcons .google-plus {
    background: #dd4b39;
    box-shadow: 0 0 16px #dd4b39;
}
.socialIcons .linkedin {
    background: #007785;
    box-shadow: 0 0 16px #007785;
}
.socialIcons .skype {
    background: #00aff0;
    box-shadow: 0 0 16px #00aff0;
}
.socialIcons .yahoo {
    background: #230052;
    box-shadow: 0 0 16px #230052;
}
.socialIcons .vk {
    background: #1a3352;
    box-shadow: 0 0 16px #1a3352;
}
.socialIcons .tumblr {
    background: #142030;
    box-shadow: 0 0 16px #142030;
}

.hr{
    color: #f00;
    background-color: orange;
    height: 2px; width: 100px;
}